<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.7.1.min.js" 
        type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON("api/tasks/",
                function (data) {
                    // On success, 'data' contains a list of tasks.
                    $.each(data, function (key, val) {

                        // Format the text to display.
                        var str = 'Task Id: ' + val.Id + ',User Id: ' + val.UserId + ', Addess: ' + val.PickupAddress + '.';

                        // Add a list item for the tasks.
                        $('<li/>', { text: str })
                        .appendTo($('#tasks'));
                    });
                });
            });

            function find() {
                var id = $('#taskId').val();
                $.getJSON("api/tasks?id=" + id,
                    function (data) {
                        var str = 'Task Id: ' + data.Id + ',User Id: ' + data.UserId + ', Addess: ' + data.PickupAddress + '.';
                        $('#task').text(str);
                    })
                .fail(
                    function (jqXHR, textStatus, err) {
                        $('#task').text('Error: ' + err);
                    });
            }
        </script>

</head>
<body id="body" >
    <div class="main-content">
        <div>
            <h1>All Tasks</h1>
            <ul id="tasks"/>
        </div>
        <div>
            <label for="taskId">ID:</label>
            <input type="text" id="taskId" size="5"/>
            <input type="button" value="Search" onclick="find();" />
            <p id="task" />
        </div>
    </div>
</body>
</html>